[flake8]
exclude = .git,__pycache__
max-complexity = 10
max-line-length = 127

# ignore method redefinition errors for multiple-dispatch
ignore = F811

# ignore unused imports in __init__.py files
per-file-ignores =
    __init__.py: F401

