@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
.menu-entering, .menu-exiting {
    animation: slideDown 5s ease-out forwards;
}